﻿@model NewReservationViewModel

@{
    ViewBag.Title = "New reservation";
}

<h2>New reservation</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)

    <input type="text" id="daterange" style="width: 300px;" />

    @Html.HiddenFor(m => m.BeginsAt)
    @Html.HiddenFor(m => m.EndsAt)

    @Html.EnumDropDownListFor(m => m.VehicleType)

    <button type="submit" class="btn btn-primary" >Add reservation</button>
}



@section scripts
{
    @Scripts.Render("/bundles/daterangepicker")
    <script type="text/javascript">
        $(function () {
            $('#daterange').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'YYYY-MM-DD HH:mm'
                },
                minDate: moment().format('YYYY-MM-DD'),
                startDate: $('#BeginsAt').val,
                endDate: $('#EndsAt').val,
                timePicker24Hour: true
            });

            $('#daterange').on('apply.daterangepicker', function (e, picker) {                
                var dateFormat = 'YYYY-MM-DD HH:mm';
                $('#BeginsAt').val(picker.startDate.format(dateFormat));
                $('#EndsAt').val(picker.endDate.format(dateFormat));
            });
        });
    </script>
}