﻿@model IEnumerable<SpaceReservationViewModel>

@{
    ViewBag.Title = "My reservations";
}

<h2>My reservations</h2>

@Html.ActionLink("New reservation", "Create", null, new { @class = "btn btn-default" })

<table class="table">
    <tbody>
        @foreach(var res in Model)
        {
            <tr>
                <td>@res.SpaceMark</td>
                <td>@res.BeginsAt</td>
                <td>@res.EndsAt</td>
            </tr>
        }
    </tbody>
</table>